.App {
  text-align: center;
  border: 1px solid white;
  width: 50vw;
  margin: auto;
  background-color: teal;
}
body {
  background-color: rgb(57, 61, 61);
  color: aliceblue;
}
.rightSide {
  display: flex;
  align-items: center;
}
.header {
  background-color: blue;
  margin: 0;
  height: 4vw;
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-around;
  border: 1px solid wheat;
  height: 3vh;
  align-items: center;
  padding: 15px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
}
.data {
  display: flex;
  height: 30px;
  align-items: center;
  width: 6vw;
  justify-content: space-around;
}
