.App {
  text-align: center;
}
body {
  background-color: rgb(57, 61, 61);
  color: aliceblue;
}
.box {
  width: 10vw;
  margin: auto;
  margin-top: 70px;
  padding: 20px;
  border: 1px solid white;
}
